fastapi
uvicorn
sqlalchemy
asyncpg
alembic
dependency-injector
cryptography
ecdsa
pydantic
pydantic-settings
pyjwt
redis
fakeredis
pytest
pytest-asyncio
aiosqlite
jinja2
passlib[bcrypt]
bcrypt==4.0.1
